#map {
    height: 100vh;
}

body {
    margin: 0px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh
}
#timeSlider{
  width: 90%;
}


.time-slider {
    right: 0.5em;
    top: 13em;
    padding: 1em !important;
}


.filter{
    right: 0.5em;
    top: 0.5em;
    padding: 1em !important;
}

.layerfilter{
  right: 0.5em;
  top: 21.2em;
  padding: 1em !important;
}


.ol-touch .time-slider{
    top: 80px;
}

.time-slider.ol-control{
  width:300px;
}

.legend {
    left: 0.5em;
    bottom: .5em;
    padding: 1em !important;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 1em;
    top:-5px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider-round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider-round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider-round {
    background-color: #2196F3;
  }
  
  input:focus + .slider-round {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider-round:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider-round {
    border-radius: 34px;
    transform: scale(0.8);
  }
  
  .slider-round:before {
    border-radius: 50%;
  } 




  .radio-toolbar {
    margin: 10px;
  }
  
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-toolbar label {
      display: inline-block;
      background-color: #ddd;
      padding: 5px 10px;
      font-family: sans-serif, Arial;
      font-size: 10px;
      border-radius: 4px;
      margin-right:5px;
  }
  
  .radio-toolbar label:hover {
    background-color: #93c9f2;
  }
  
  .radio-toolbar input[type="radio"]:checked + label {
      background-color: #2196F3;
  }
  
  
  #timeCheckbox{
    float:left;
    margin-right:0.5em;
  }

  .spanSelector{
    margin-left: 0.4em;
    border-radius: 34px;
    background-color: #fff;
    padding: 0.3em;
    color: #7B7B7B;
    border: #a0a0a0 solid 1px;
  }

  .spanSelector.selected{
    background-color: #2196F3;
    color: #fff;
    border: #2196F3 solid 1px;
  }

  .ol-control button{
    background-color:#2196F3 !important;
  }

  .row {
    display: flex;
    height: 100vh;
  }
  
  .column1.expanded {
    flex: 65;
    height: 100vh;
    width: 65%;
  }

  .column2.expanded {
    flex: 35%;
    height: 100vh;
    overflow: scroll;
    width: 35%;
  }

  .column1.collapsed {
    flex: 100%;
    height: 100vh;
    width: 100%;
  }

  .column2.collapsed {
    flex: 0%;
    height: 100vh;
    overflow: scroll;
    width: 0%;
  }
  
  
  #infocontent{
    padding: 2em;
  }

  .legendItem{
    height: 30px;
    width: 150px;
    display: flex;
  justify-content: center;
  align-items: center;
  }

  .legendLabel{
    width: 100px;
    display: inline;
    padding-bottom: 0.5em;
  }

  .legend.ol-control.collapsed{
    display: none;
  }

  .styled-table  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .styled-table  {
    table-layout: auto;
    border-collapse: separate;
    white-space: nowrap;
    margin: 1em;
    border-spacing: 0.2em;
  }
  .styled-table td{
    padding: 0.3em;
  }
  .styled-table tr td:nth-child(1){
    font-weight: 600;
  }
  
  .ol-popup-closer{
      top: 0.8em;
      right: 0.8em;
      color: #2196F3 ;
  }

  .filterCheckbox{
    margin-right:1em;
    transform: scale(1.2);
  }


  .ol-attribution.ol-control{
    transform: scale(2);
    bottom: 1.5em;
    right: 1.5em;
  }